@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    
    overflow: hidden;
    user-select: none;
    
    font-family: montserrat;
    background: url(aboutus.png) no-repeat;
   
   background-position: center;
   background-size: 50%;
   position: relative;
   background-position: right top;
   
   
      
  }

  nav .logo{
    color: #A4A4A4;
    font-size: 65px;
    line-height: 80px;
    padding: 0 120px;
    font-family: 'Mouse Memoirs', sans-serif;
  }
  nav{
    height: 70px;
    box-shadow: 0 3px 15px  #fadbdb;
    background: #fadbdb;
    height: 90px;
    width: 100%;
    margin: 0 auto;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
    
  }
  nav ul li a{
    color:black;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background:  #fadbdb;
    transition: .5s;
    

  }
  nav ul li a:hover,
  nav ul li a.active{
   
        background: #FFB3B3;
        transition: .5s;
      
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 1px solid ;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
 
  /*div{
    text-align: center;
    padding-top: 80px;
  }*/
  
  h1{
    margin: 70px;
    font-size: 65px;
    text-align: left;
    padding: 0 150px;
    font-family: 'Mouse Memoirs', sans-serif;
  }



pre{
    margin: 20px;
    font-size: 25px;
    text-align: left;
    padding:  3px 100px;
  
  }
  

  button{ 
    display: inline-block;
    outline: 0;
    border: none ;
    cursor: pointer;
    background-color:#EFC2C2;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: black;
   line-height: 26px;
   
                   
               
} 