@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}



.container .content h1{
   font-size: 50px;
   color:#333;
}



.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: #b67979;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #fbd0d9;
   color:black;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: #b67979;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:#b67979;
}


/** nav styling***/



*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    
    overflow: hidden;
    user-select: none;
    
    font-family: montserrat;
   
    background-size: auto;
      
  }

  nav .logo{
    color: #A4A4A4;
    font-size: 65px;
    line-height: 80px;
    padding: 0 120px;
    font-family: 'Mouse Memoirs', sans-serif;
  }
  nav{
    height: 50px;
    box-shadow: 0 3px 15px  #fadbdb;
    background: #fadbdb;
    height: 90px;
    width: 100%;
    margin: 0 auto;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
    
  }
  nav ul li a{
    color:black;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background:  #fadbdb;
    transition: .5s;
    font-family: montserrat;
    

  }
  nav ul li a:hover,
  nav ul li a.active{
   
        background: #FFB3B3;
        transition: .5s;
      
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 1px solid ;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }


  
  /* button styling*/
  button{ 
    display: inline-block;
    outline: 0;
    border: none ;
    cursor: pointer;
    background-color:#EFC2C2;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: black;
   line-height: 26px;
   
                   
               
} 